spring:
    profiles:
        active: dev
    application:
        name: SysMon
        version: 1.0.0
---
spring:
    config:
        activate:
            on-profile: dev
    datasource:
        url: ${SPRING_DATASOURCE_URL}
        username: ${POSTGRES_USER}
        password: ${POSTGRES_PASSWORD}
        driver-class-name: org.postgresql.Driver
        hikari:
            maximum-pool-size: 20

    jpa:
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        hibernate:
            ddl-auto: update
    servlet:
        multipart:
            max-file-size: 10MB
            max-request-size: 10MB
jwt:
    secret: ${JWT_SECRET}
    access:
        cookie_name: access_token
        duration:
            minute: 60
            second: 3600
    refresh:
        cookie_name: refresh_token
        duration:
            day: 7
            second: 604800
upload:
    path: .uploads
telegram:
    bot:
        token: ${TELEGRAM_BOT_TOKEN}
    chat:
        id: ${TELEGRAM_CHAT_ID}
logging:
    file:
        name: log/system.log
server:
    port: 8080
---
spring:
    config:
        activate:
            on-profile: prod
    datasource:
        url: ${SPRING_DATASOURCE_URL}
        username: ${POSTGRES_USER}
        password: ${POSTGRES_PASSWORD}
        driver-class-name: org.postgresql.Driver
        hikari:
            maximum-pool-size: 30
    jpa:
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        hibernate:
            ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
        show-sql: false
    servlet:
        multipart:
            max-file-size: 10MB
            max-request-size: 10MB
jwt:
    secret: ${JWT_SECRET}
    access:
        cookie_name: access_token
        duration:
            minute: 60
            second: 3600
    refresh:
        cookie_name: refresh_token
        duration:
            day: 7
            second: 604800
upload:
    path: .uploads
telegram:
    bot:
        token: ${TELEGRAM_BOT_TOKEN}
    chat:
        id: ${TELEGRAM_CHAT_ID}
logging:
    level:
        root: INFO
        com.example.demo: INFO
    file:
        name: log/system.log
server:
    port: ${APP_PORT:9001}
    servlet:
        context-path: /
    compression:
        enabled: true
        min-response-size: 1024