spring:
    profiles:
        active: dev
    application:
        name: SysMon
        version: 1.0.0
---
spring:
    config:
        activate:
            on-profile: dev
    datasource:
        url: jdbc:postgresql://localhost:5432/"bd_name"
        username: "username"
        password: "password"
        driver-class-name: org.postgresql.Driver
        hikari:
            maximum-pool-size: 20
    
    jpa:
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        hibernate:
            ddl-auto: update
    servlet:
        multipart:
            max-file-size: 10MB
            max-request-size: 10MB
jwt:
    secret: "secret"
    access:
        cookie_name: access_token
        duration:
            minute: 60
            second: 3600
    refresh:
        cookie_name: refresh_token
        duration:
            day: 7
            second: 604800
upload:
    path: "path"
telegram:
    bot:
        token: "bot_token"
    chat:
        id: "chat_id"
logging:
    file:
        name: sysmon.log
server:
    port: 8080
---
spring:
    config:
        activate:
            on-profile: prod
server:
    port: 9001